.env
/database
__pycache__
baseball_1_retrieval_failures.json
baseball_1_schema.json
baseball_1_schema.txt
cre_Drama_Workshop_Groups_retrieval_failures.json
cre_Drama_Workshop_Groups_schema.json
cre_Drama_Workshop_Groups_schema.txt
cre_Drama_Workshop_Groups_schema.txt
cre_Theme_park_retrieval_failures.json
cre_Theme_park_schema.json
cre_Theme_park_schema.txt
failed_questions_baseball_1.json
failed_questions_baseball_1.json
failed_questions_cre_Drama_Workshop_Groups.json
failed_questions_cre_Drama_Workshop_Groups.json
imdb_schema.json
sakila_1_retrieval_failures.json
sakila_1_schema.json
sakila_1_schema.json
sakila_1_schema.txt
tables.json
train_spider.json